/* Impede a rolagem do fundo (body) quando o modal estiver aberto */
body.modalOpen,
html.modalOpen {
  overflow: hidden; /* Remove a rolagem da página */
  filter: blur(50px); /* Aplica um desfoque no fundo */
  transition: filter 0.3s ease; /* Transição suave para o desfoque */
}

/* Modal inicialmente fora da tela */
.containerCartModal {
  position: fixed; /* Fixa o modal em relação à janela do navegador */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100%; /* Ocupa toda a altura da tela */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex; /* Alinha o conteúdo do modal */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  z-index: 100; /* Garante que o modal fique acima de outros elementos */
  opacity: 1; /* Inicialmente invisível */
  animation: slideIn 2s ease forwards; /* Animação de entrada suave */
}

/* Animação para o modal vindo da esquerda */
@keyframes slideIn {
  0% {
    transform: translateX(-100%); /* Começa fora da tela à esquerda */
    opacity: 0; /* Invisível no início */
  }
  100% {
    transform: translateX(0); /* Move para a posição original */
    opacity: 1; /* Torna-se visível */
  }
}

/* Titulo cabeçalho do modal */
h3 {
  text-align: center; /* Centraliza o texto */
  margin-top: -20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* Conteúdo do modal */
.CartModal {
  width: 95%;
  height: auto; /* Garante que o container tenha altura automática conforme o conteúdo */
  max-width: 500px; /* Limita a largura máxima */
  background-color: #fff; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 20px; /* Espaçamento interno */
  display: flex;
  flex-direction: column; /* Coloca os elementos em coluna */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  position: relative;
  z-index: 100; /* Garante que fique acima do fundo */
}

/*GTitulo do Carrinho*/
.tituloCart {
  margin: 0;
}

/* Cabeçalho dos produtos no carrinho */
.productHeader {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr; /* Coluna maior para o nome, colunas menores para quantidade e subtotal */
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Itens do carrinho */
.productItem {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr; /* Correspondência com o cabeçalho */
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  align-items: center;
}

/* Estilização geral dos nomes */
.productName {
  text-align: left; /* Alinha os nomes à esquerda */
}

/* Container geral do controle de quantidade */
.quantityControls {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #008000;
  border-radius: 25px;
  padding: 5px 5px; /* Ajuste do espaço interno */
  background-color: #fff;
  gap: 5px; /* Reduz o espaço entre os botões e o número */
  width: 80px; /* Define um tamanho fixo */
  margin: 0 auto; /* Centraliza o container */
}

/* Botões de aumentar e diminuir produtos */
.quantityControls button {
  background-color: transparent;
  border: none;
  width: 100%;
  color: #000;
  font-size: 1em; /* Ajuste do tamanho */
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.quantityControls button:hover {
  transform: scale(1.1);
}

.quantityControls button:active {
  transform: scale(0.9);
}

/* Número entre os botões */
.quantityControls span {
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

/* Subtotal */
.productSubtotal {
  text-align: right; /* Alinha o subtotal à direita */
}

/*mensagem de carrinho vazio*/
.message {
  text-align: center;
  font-size: 1.375rem;
  color: #333;
  margin-top: 15px;
}

/*container do botao de login e register*/
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

/*Estilos do botoes*/
.loginBtn,
.registerBtn {
  padding: 10px 20px;
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginBtn:hover,
.signupBtn:hover {
  background-color: #006400;
}

/* Botão flutuante para abrir o carrinho */
.btnCart {
  position: fixed; /* Fixa o botão no canto inferior direito */
  bottom: 20px;
  right: 20px;
  background-color: #0bd80b; /* Cor de fundo verde */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%; /* Botão circular */
  cursor: pointer; /* Exibe o cursor de clique */
  z-index: 10; /* Sobrepõe outros elementos */
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 2s ease, transform 2s ease; /* Transições suaves */
  transform: translateY(30px); /* Inicialmente deslocado para baixo */
}

.btnCart.visible {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Move para a posição original */
}

.btnCart:hover {
  background-color: #006400; /* Cor mais escura ao passar o mouse */
  transform: scale(1.1); /* Aumenta ligeiramente o botão */
}

.btnCart:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.5); /* Sombra verde no foco */
}

.btnCart svg {
  transition: transform 1s; /* Animação do ícone */
}

.btnCart:hover svg {
  transform: rotate(360deg); /* Rotaciona o ícone ao passar o mouse */
}

/*Quantidade de produto no carrinho*/
.cartCount {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px; /* Aumenta o espaço interno */
  font-size: 14px; /* Aumenta o tamanho da fonte */
  position: absolute;
  top: 35px; /* Ajuste fino para reposicionar */
  right: -3px; /* Ajuste fino para reposicionar */
  animation: zoomInDown 1s ease-out;
}

/* Defina a animação zoom-in-down */
@keyframes zoomInDown {
  0% {
    transform: scale(0.5) translateY(-20px);
    opacity: 0;
  }
  60% {
    transform: scale(1.2) translateY(10px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

/* Botão para fechar o modal */
.closeBtn {
  position: absolute; /* Fixa o botão no canto superior direito */
  top: 3px;
  right: 3px;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
  background: #f44336; /* Fundo vermelho */
  border-radius: 50%; /* Botão circular */
  padding: 12px;
  width: 45px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  z-index: 90; /* Fica acima do modal */
  transition: all 0.3s ease; /* Transição suave */
}

.closeBtn:hover {
  background: #d32f2f; /* Cor mais escura ao passar o mouse */
  transform: scale(1.1); /* Aumenta o botão */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais forte */
}

.closeBtn:active {
  transform: scale(1); /* Volta ao tamanho original */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
}

/*container de ver carrinho completo*/
.actions {
  display: flex;
  justify-content: center;
}

/* Botão de visualização do carrinho */
.viewCartBtn {
  background-color: #008000; /* Fundo verde */
  color: #fff; /* Texto branco */
  border: none; /* Remove borda padrão */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 6px; /* Bordas arredondadas */
  cursor: pointer; /* Indica interatividade */
  font-size: 1rem; /* Tamanho da fonte */
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Transição suave de cor */
}

.viewCartBtn:hover {
  background-color: #006400; /* Fundo mais escuro no hover */
}

.viewCartBtn:focus {
  outline: none; /* Remove borda padrão */
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); /* Destaque ao foco */
}

/* Ajuste de responsividade para telas menores */
@media (max-width: 768px) {
  .productHeader,
  .productItem {
    grid-template-columns: 1fr 1fr 1fr; /* Coloca os itens em uma única coluna por linha */
  }

  .productName {
    word-wrap: break-word; /* Faz o texto quebrar linha quando for muito longo */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    font-size: 1rem; /* Ajusta o tamanho da fonte para caber melhor */
  }

  .productSubtotal,
  .quantityControls {
    font-size: 0.9rem; /* Ajusta o tamanho da fonte para melhorar o espaço */
  }
}

/* Outros ajustes gerais */
.productName {
  text-align: left;
  word-wrap: break-word; /* Quebra o texto longo */
  white-space: normal; /* Permite que quebre linha */
}

.productItem {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr; /* Manter as colunas em maior largura */
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  align-items: center;
}

.productSubtotal {
  text-align: right;
  word-wrap: break-word; /* Quebra o texto de valores longos */
}
